.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.h1, h1 {
	font-size: 3.9rem;
}

.h2, h2 {
	font-size: 1.8rem;
}

.h3, h3 {
	font-size: 1.75rem;
}