{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section class="scene">
        <div class="grid grid--sidar">
            <div class="grid__item">
                <div class="wysiwyg"><h3>Последние работы студии</h3></div>
            </div>
        </div>
        <div class="grid grid--meskit">
            <div class="grid__item">
                <div class="common-box-base common-box-shadow-primary common-border-radius-primary" style="height: 200px;"></div>
            </div>
            <div class="grid__item">
                <div class="common-box-light common-box-shadow-primary common-border-radius-primary" style="height: 200px;"></div>
            </div>
            <div class="grid__item">
                <div class="common-box-dark common-box-shadow-primary common-border-radius-primary" style="height: 200px;"></div>
            </div>
        </div>
    </section>
{% endblock %}