<header class="header">
    <div class="header__grid">
        <div class="header__fold">
            <ul class="header__menu">
                <li><a href="{{ path('home') }}"><img src="/assets/images/logo.jpeg" style="width: 30px"/></a></li>
            </ul>
        </div>
        <div class="header__collapse">
            <nav class="header__nav">
                <ul class="header__menu">
                    <li><a href="{{ path('category') }}">Category</a></li>
                    <li><a href="{{ path('events') }}">Events</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>